/*Global style*/
::selection {
  background-color: #3b82f6;
  color: #f9fafb;
}
body {
  direction: rtl;
}
textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  max-height: 200px;
}
/*Post page style*/
.comments::-webkit-scrollbar {
  width: 0.2em;
}
.comments::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
.comments::-webkit-scrollbar-thumb {
  background-color: #374151;
  outline: 1px solid #f9fafb;
}

/*Welcome page style*/
.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.cover {
  background: url(bg.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-typing {
  white-space: nowrap;
  overflow: hidden;
  transition: all ease-in-out;
  animation: typing 5s steps(22, end) forwards;
}
@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* Pagination style */
.points::after {
  content: "...";
  position: absolute;
  margin: 0 15px;
}

/* Modal */
.underlinee::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  margin: 2.5rem auto;
  background: #e5e7eb;
}
.bgScreen {
  background: url(bgModal.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
